# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [68]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [69]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [70]:
num_of_sample= 799

In [71]:
#mean
hp_mean= df['HP'].mean()
print('the HP mean',hp_mean )

the HP mean 69.25875

In [72]:
#standard deviation
hp_sd = df['HP'].std()
print('Standard Deviation', hp_sd)

Standard Deviation 25.53466903233207

In [73]:
sem_hp=((hp_sd)/np.sqrt(num_of_sample))
print('standard error of mea',sem_hp)

standard error of mea 0.9033516527349948

Hypothesis testing

In [74]:
#H0: Grass Pokemone have higher or equal HP 
#H1: Dragon pokemon have higher HP

In [75]:
df_grass = df[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Grass')]['HP']
df_grass

0      45
1      60
2      80
3      80
48     45
       ..
783    59
784    65
785    55
786    75
787    85
Name: HP, Length: 95, dtype: int64

In [76]:
alpha= 0.05

In [77]:
df_drag = df[(df['Type 1'] == 'Dragon') | (df['Type 2'] == 'Dragon')]['HP']
df_drag

7       78
159     41
160     61
161     91
196     90
249     75
275     70
360     50
361     80
365     75
366     75
406     45
407     65
408     95
409     95
417     80
418     80
419     80
420     80
425    105
426    105
491     58
492     68
493    108
494    108
540    100
541     90
544    150
545    150
671     46
672     66
673     76
682     77
694     52
695     72
696     92
706    100
707    100
710    125
711    125
712    125
761     65
766     58
767     82
774     45
775     68
776     90
790     40
791     85
794    108
Name: HP, dtype: int64

In [78]:
#code here
st.ttest_ind(df_grass,df_drag,alternative='greater')

TtestResult(statistic=np.float64(-4.4991348531252635), pvalue=np.float64(0.9999929902862607), df=np.float64(143.0))

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [79]:
stats_cols = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
df_stat= df[stats_cols]

In [80]:
# Split the groups
legendary_stats = df[df['Legendary'] == True][stats_cols]
non_legendary_stats = df[df['Legendary'] == False][stats_cols]

In [81]:
# Perform t-tests for each stat
st.ttest_ind(legendary_stats,non_legendary_stats ,equal_var=False)

TtestResult(statistic=array([ 8.98137048, 10.43813354,  7.63707816, 13.41744998, 10.01569661,
       11.47504445]), pvalue=array([1.00269117e-13, 2.52037245e-16, 4.82699849e-11, 1.55146141e-21,
       2.29493279e-15, 1.04901631e-18]), df=array([79.52467831, 75.88324448, 77.71095111, 74.24631138, 73.25892564,
       81.62110996]))

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [82]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [83]:
# Function to calculate Euclidean distance
def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x1 - x2)**2 + (y1 - y2)**2)

In [84]:
# Assuming df contains columns ['Latitude', 'Longitude', 'Price']
school_coords = (-118, 34)
hospital_coords = (-122, 37)

In [85]:
# Calculate distances
df['distance_to_school'] = df.apply(lambda row: euclidean_distance(row['latitude'], row['longitude'], *school_coords), axis=1)
df['distance_to_hospital'] = df.apply(lambda row: euclidean_distance(row['latitude'], row['longitude'], *hospital_coords), axis=1)

In [91]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,distance_to_school,distance_to_hospital,is_close
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,212.503299,217.462715,False
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,212.765366,217.724874,False
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,212.320347,217.278185,False
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,212.291626,217.249337,False
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,212.241631,217.199194,False
...,...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,224.039827,228.991362,False
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,224.124762,229.076513,False
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,224.961587,229.915714,False
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,224.933168,229.887211,False
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,224.075108,229.026361,False

In [98]:
df['is_close']

0        False
1        False
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Name: is_close, Length: 17000, dtype: bool

In [99]:
# Determine if the house is "close" to either
df['is_close'] = (df['distance_to_school'] < 0.50) | (df['distance_to_hospital'] < 0.50)

# Split into two groups
close_prices = df[df['is_close']]['median_house_value']
far_prices = df[df['is_close']]['median_house_value']

In [103]:
far_prices

Series([], Name: median_house_value, dtype: float64)

In [100]:
df['is_close']

0        False
1        False
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Name: is_close, Length: 17000, dtype: bool

In [97]:
st.ttest_ind(close_prices, far_prices, equal_var= False)

c:\Users\samya\AppData\Local\Programs\Python\Python313\Lib\site-packages\scipy\_lib\deprecation.py:234: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  return f(*args, **kwargs)

TtestResult(statistic=np.float64(nan), pvalue=np.float64(nan), df=np.float64(nan))